
$standard-width: 100vw; 
$standard-height: 100vh;
$white: white;
$alignment: center;
$purple: fade-out(#3C3249, .15);
$gray: fade-out(#696969, .15);
$hover-color: black;

@mixin position($standard-position: fixed) {
  position: $standard-position !important;
  -webkit-position: $standard-position !important;
  -moz-position: $standard-position !important;
  -ms-position: $standard-position !important;
  -o-position: $standard-position !important;
}

* {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%;
  font-family: Chivo, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  background-color: #F8F8F8;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow: hidden !important;
}

.all {
  overflow: hidden !important;
  position: fixed !important;
  -webkit-text-size-adjust: 100%;
 }

/*HEADER*/

header {
  height: 12vh !important;
  background-color: $gray;
  @include position;
  width: $standard-width/1.25;
  left: $standard-width/10;
  top: 0;
  z-index: 15;
}

/*LOGO*/

.logo {
  margin : {
    top: 1.8em;
    left: 1em;
    bottom: 0;
  }
  display: inline-block;
  width: 80%;
  height: 55%;
  a {
    color: $white;
    text : {
      decoration: none;
      align: $alignment;
      transform: capitalize;
    }
    font : {
      size: 2.3em;
      family: Chivo, sans-serif;
      weight: 400;
    }
  }
}

/*NAVIGATION MENU*/

.top {
  display: inline-block;
  width: 10%;
  height: 59%;
  margin : {
    top: 1.8em;
    bottom: 0;
  }
}

.navicon {
  color: $white;
  font-size: 2.2em;
  text-align: $alignment;
  &:hover {
    cursor: pointer;
  }
}

.NavDropDown {
  list-style-type: none;
  padding: 0;
  color: $white;
  margin: 0;
  display: none;
  height: 210%;
  li {
    padding : {
      top: .5em;
      bottom: 0;
    }
    background-color: $purple;
    font-family: Chivo, sans-serif;
    margin: 0;
    display: block;
    height: 20%;
    text-align: $alignment;
    a {
      &.current-page {
        color: $hover-color;
        text-decoration: underline dashed white;
      }
      font-size: 1.5em;
      color: $white;
      text : {
        decoration: none;
        align: $alignment;
      }
      &:hover {
        color: $hover-color;
      }
    }
  }
}

/*SLIDESHOW*/

#slideshow {
  position: relative;
  height: $standard-height;
  width: $standard-width;
  div {
    display: none;
    margin: 0 auto;
    background-color: black;
    width: $standard-width;
    height: $standard-height;
  }
  img {
    z-index: 8;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $standard-width;
    height: $standard-height;
    opacity: .94;
    filter: brightness(60%);
    background-color: black;
  }
}

.name {
  position: absolute;
  left: $standard-width/20;
  top: $standard-height/2.5;
  z-index: 10;
  display: inline-block;
  h1 {
    color: $white;
    font : {
      family: Chivo, sans-serif;
      size: $standard-width/12.5;
    }
    letter-spacing: .01em;
    display: inline-block;
  }
}

/*PROJECTS PAGE*/


.projects {
  overflow: auto;
  width: 80vw;
  height: 70vh;
  margin-left: 10vw;
  margin-top: 14vh;
  display: flex;
  flex-direction: column;
}

.projpic {
  height: 75%;
  -moz-height: 75%;
  margin-bottom: 1em;
}

/*ABOUT ME PAGE */

.info {
  display: inline-block;
  overflow: auto;
  width: 100vw;
  height: 82vh;
}

.left {
  margin-top: 14vh;
  height: 100vh;
  width: 80vw;
  margin-left: 10vw;
}

.right {
  margin-top: 4vh;
  height: 82vh;
  width: 80vw;
  margin-left: 10vw;
  display: block;
}

.right p{
  height: auto;
}

.button{
  height: 10%;
  background-color: rgb(60, 50, 73); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

/*CONTACT PAGE*/

.contact {
  display: block;
  width: 80vw;
  height: 68vh;
  margin-top: 14vh;
  margin-left: 10vw;
  text-align: center;
  overflow: auto;
  background-image: url('../images/sunset.jpg');
  background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.8)), url('../images/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 80%;

}

.basic {
  display: block;
  height: auto;
}
form {
  width: 80vw;
  display: block;
  height: 80vh;
}

form div {
  display: block;
  height: auto;
  text-align: center;
  background-color: rgba(60, 50, 73, 0.63);
  padding: 3%;
  border-radius: 2%;
  width: 75vw;
  color: black;
}

.contact p a{
  color: #890202;
}
.asterisk {
  color: #890202;
  font-size: 130%;
}

::-webkit-input-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-placeholder {
  text-align: center;
}

.form_submit {
  height: 10%;
}

.form_submit input {
  height: 100%;
    background-color: rgb(60, 50, 73); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* HBO PAGE */

.hbo {
  width: 100vw;
  height: 70vh;
  margin-top: 14vh;
  overflow: auto;
}

.hbo_info {
  text-align: center;
  border: 2px solid black;
  border-radius: 3%;
  width: 80vw;
  margin-left: 10vw;
  height: 20vh;
  margin-bottom: 2%;
}

.hbo_info  h1 {
  height: 10vh;
  font-size: 450%;
}

.date {
  font-size: 200%
}

.icons {
  width: 80vw;
  height: auto;
  margin-left: 10vw;
  display: inline-block;
  margin-bottom: 2vh;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;  
}

.icons div {
  display: block;
}

.font {
  font-size: 125%;
  height: 10%;
  font-weight: bold;
  text-align: center;
}

.text {
  width: 100%;
  height: 60%;
}
.project {
  width: 80vw;
  height: 60%;
  text-align: center;
  margin-bottom: 4vh;
}

.timeframe {
  width: 80vw;
  height: 60%;
  text-align: center;
  margin-bottom: 4vh;
}

.process {
  width: 80vw;
  height: 60%;
  text-align: center;
  margin-bottom: 4vh;
}

.hi-icon {
  font-size: 800%;
}

h2, h1 {
  color: rgba(60, 50, 73, .8);
}

.outline {
  height: auto;
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 2vh;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;  
}

.outline ul {
  margin-left: 10%;
}


.outline p {
  text-align: left;
}

/*PROJECT PAGES NOT YET CREATED*/
.layout {
  height: 82vh;
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 2vh;
  margin-top: 38vh;
  text-align: center;
}

.layout h1 {
  height: 15%;
}

.i3research h1 {
  height: 38%;
}

.layout h2 {
  color: black;
}

/*FOOTER*/

footer {
  background-color: $purple;
  @include position;
  height: 16% !important;
  width: 100%;
  bottom: 0;
  z-index: 15;
  div {
    display: inline-block;
    width: 18%;
    height: 0;
    margin-top: 2em;
    a {
      color: $white;
      font-size: 2.2em;
      display: inline-block;
      text-align: $alignment;
    }
  }
}

@media only screen and (max-width: 823px) and (orientation: landscape) {
  * {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 100%;
    font-family: Chivo, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    background-color: #F8F8F8;
    -webkit-text-size-adjust: 100%;
  }

  html {
    overflow: hidden !important;
  }

  .all {
    overflow: hidden !important;
    position: fixed !important;
    -webkit-text-size-adjust: 100%;
  }

  /*HEADER*/

  header {
    height: 12vh !important;
    background-color: $gray;
    @include position;
    width: $standard-width/1.25;
    left: $standard-width/10;
    top: 0;
    z-index: 15;
  }

  /*LOGO*/

  .logo {
    margin : {
      top: 1.8em;
      left: 1em;
      bottom: 0;
    }
    display: inline-block;
    width: 80%;
    height: 55%;
    a {
      color: $white;
      text : {
        decoration: none;
        align: $alignment;
        transform: capitalize;
      }
      font : {
        size: 2.3em;
        family: Chivo, sans-serif;
        weight: 400;
      }
    }
  }

  /*NAVIGATION MENU*/

  .top {
    display: inline-block;
    width: 10%;
    height: 59%;
    margin : {
      top: 1.8em;
      bottom: 0;
    }
  }

  .navicon {
    color: $white;
    font-size: 2.2em;
    text-align: $alignment;
    &:hover {
      cursor: pointer;
    }
  }

  .NavDropDown {
    list-style-type: none;
    padding: 0;
    color: $white;
    margin: 0;
    display: none;
    height: 210%;
    li {
      padding : {
        top: .5em;
        bottom: 0;
      }
      background-color: $purple;
      font-family: Chivo, sans-serif;
      margin: 0;
      display: block;
      height: 20%;
      text-align: $alignment;
      a {
        &.current-page {
          color: $hover-color;
          text-decoration: underline dashed white;
        }
        font-size: 1.5em;
        color: $white;
        text : {
          decoration: none;
          align: $alignment;
        }
        &:hover {
          color: $hover-color;
        }
      }
    }
  }

  /*SLIDESHOW*/

  #slideshow {
    position: relative;
    height: $standard-height;
    width: $standard-width;
    div {
      display: none;
      margin: 0 auto;
      background-color: black;
      width: $standard-width;
      height: $standard-height;
    }
    img {
      z-index: 8;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: $standard-width;
      height: $standard-height;
      opacity: .94;
      filter: brightness(60%);
      background-color: black;
    }
  }

  .name {
    position: absolute;
    left: $standard-width/20;
    top: $standard-height/2.5;
    z-index: 10;
    display: inline-block;
    h1 {
      color: $white;
      font : {
        family: Chivo, sans-serif;
        size: $standard-width/12.5;
      }
      letter-spacing: .01em;
      display: inline-block;
    }
  }

  /*PROJECTS PAGE*/


  .projects {
    overflow: auto;
    width: 80vw;
    height: 42vh;
    margin-left: 10vw;
    margin-top: 14vw;
    display: flex;
    flex-direction: column;
  }

  .projpic {
    height: 30vw;
    margin-bottom: 1em;
  }

  /*ABOUT ME PAGE */

  .info {
    display: inline-block;
    overflow: auto;
    width: 100vw;
    height: 75vh;
  }

  .left {
    margin-top: 14vw;
    height: 100vh;
    width: 80vw;
    margin-left: 10vw;
  }

  .right {
    margin-top: 4vh;
    height: 82vh;
    width: 80vw;
    margin-left: 10vw;
    display: block;
  }

  .right p{
    height: auto;
  }

  .button{
    height: 14%;
      background-color: rgb(60, 50, 73); /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

  .button:hover {
    cursor: pointer;
  }

  /*CONTACT PAGE*/

  .contact {
    display: block;
    width: 80vw;
    height: 42vh;
    margin-top: 14vw;
    margin-left: 10vw;
    text-align: center;
    overflow: auto;
    background-image: url('../images/sunset.jpg');
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.8)), url('../images/sunset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 80%;

  }

  .basic {
    display: block;
    height: auto;
  }
  form {
    width: 80vw;
    display: block;
    height: 80vh;
  }

  form div {
    display: block;
    height: auto;
    text-align: center;
    background-color: rgba(60, 50, 73, 0.63);
    padding: 3%;
    border-radius: 2%;
    width: 75vw;
    color: black;
  }

  .contact p a{
    color: #890202;
  }
  .asterisk {
    color: #890202;
    font-size: 130%;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }
  ::-moz-placeholder {
    text-align: center;
  }
  :-ms-placeholder {
    text-align: center;
  }

  .form_submit {
    height: 12%;
  }

  .form_submit input {
    height: 100%;
      background-color: rgb(60, 50, 73); 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

  /* HBO PAGE */

  /*HBO basic info section*/
  .hbo {
    width: 100vw;
    height: 45vh;
    margin-top: 14vw;
    overflow: auto;
  }

  .hbo_info {
    text-align: center;
    border: 2px solid black;
    border-radius: 3%;
    width: 80vw;
    margin-left: 10vw;
    height: 20vw;
    margin-bottom: 2%;
  }

  .hbo_info  h1 {
    height: 10vw;
    font-size: 450%;
  }

  .date {
    font-size: 200%
  }

  .icons {
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    display: inline-block;
    margin-bottom: 2vh;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;  
  }

  .icons div {
    display: block;
  }

  .font {
    font-size: 125%;
    height: 10%;
    font-weight: bold;
    text-align: center;
  }

  .text {
    width: 100%;
    height: 60%;
  }
  .project {
    width: 80vw;
    height: 60%;
    text-align: center;
    margin-bottom: 4vh;
  }

  .timeframe {
    width: 80vw;
    height: 60%;
    text-align: center;
    margin-bottom: 4vh;
  }

  .process {
    width: 80vw;
    height: 60%;
    text-align: center;
    margin-bottom: 4vh;
  }

  .hi-icon {
    font-size: 800%;
  }

  h2, h1 {
    color: rgba(60, 50, 73, .8);
  }

  /*HBO Interaction section*/
  .outline {
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 2vh;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;  
  }

  .outline ul {
    margin-left: 10%;
  }


  .outline p {
    text-align: left;
  }

  /*Pages no yet created*/
  .layout {
    height: 82vh;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 2vh;
    margin-top: 20vh;
    text-align: center;
  }

  .layout h1 {
    height: 12%;
  }

  .i3research h1 {
    height: 42%;
  }

  .layout h2 {
    color: black;
  }

  /*FOOTER*/

  footer {
    background-color: $purple;
    @include position;
    height: 16% !important;
    width: 100%;
    bottom: 0;
    z-index: 15;
    div {
      display: inline-block;
      width: 18%;
      height: 0;
      margin-top: 2em;
      a {
        color: $white;
        font-size: 2.2em;
        display: inline-block;
        text-align: $alignment;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  /*HEADER*/

  /*LOGO*/
  .logo {
    display: block;
    width: 100%;
    height: 40%;
    text-align: center;
    margin-top: .5em;
  }

  /*NAVIGATION BAR*/
  .NavDropDown {
    display: inline-block !important;
    visibility: visible;
    width: 100%;
    text-align: center;
    margin-top: .75em;
    height: 35%;
  }

  .NavDropDown li {
    padding: .5em;
    background-color: transparent;
    display: inline;
  }

  .NavDropDown li a {
    font-size: 1.5em;
    display: inline;
  }

  .top {
    display: none;
  }


  /*PROJECTS PAGE */

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .projpic {
    width: 46.9%;
  }
  
   /*ABOUT ME PAGE */
  .info {
    display: flex;
  }

  .left {
    flex: 60%;
    height: 84%;
  }

  .right {
    flex: 90%;
    margin-top: 14vh;
    height: 86vh;
  }

  .right p{
    width: 80%;
    height: auto;
  }

  .button {
    width: 80%;
  }

  /*Forms page */

  form div {
    text-align: left;
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }
  
  ::-moz-placeholder {
  text-align: left;
  }
  
  :-ms-placeholder {
  text-align: left;
  }

  /*HBO project page */
  .icons {
    display: flex;
  }


}

@media only screen and (min-width: 824px) and (max-width: 1023px) and (orientation: landscape) {
  /*HEADER*/

  /*LOGO*/
  .logo {
    display: block;
    width: 100%;
    height: 40%;
    text-align: center;
    margin-top: .5em;
  }

  /*NAVIGATION BAR*/
  .NavDropDown {
    display: inline-block !important;
    visibility: visible;
    width: 100%;
    text-align: center;
    margin-top: .75em;
    height: 35%;
  }

  .NavDropDown li {
    padding: .5em;
    background-color: transparent;
    display: inline;
  }

  .NavDropDown li a {
    font-size: 1.5em;
    display: inline;
  }

  .top {
    display: none;
  }


  /*PROJECTS PAGE */

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .projpic {
    width: 46.9%;
  }
  
   /*ABOUT ME PAGE */
  .info {
    display: flex;
  }

  .left {
    flex: 60%;
    height: 84%;
  }

  .right {
    flex: 90%;
    margin-top: 14vh;
    height: 86vh;
  }

  .right p{
    width: 80%;
    height: auto;
  }

  .button {
    width: 80%;
  }

  /*Forms page */

  form div {
    text-align: left;
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }
  
  ::-moz-placeholder {
  text-align: left;
  }
  
  :-ms-placeholder {
  text-align: left;
  }

  /*HBO project page */
  .icons {
    display: flex;
  }


}

@media only screen and (min-width: 1024px) {
  /*HEADER*/
  
  /*LOGO*/
  .logo {
    display: inline-block;
    width: 35%;
    text-align: left;
    margin-top: 2.5em;
    height: 50%;
  }

  /*NAVIGATION BAR*/
  .NavDropDown {
    width: 60%;
    text-align: right;
  }

  .NavDropDown li {
  padding: .5em;
  background-color: transparent;
  display: inline;
  }

  .NavDropDown li a {
    font-size: 1.5em;
  }

  .top {
    display: none;
  }

  /*PROJECT PAGE*/
  .projpic {
    width: 24%;
  }

  /*ABOUT ME */
   
  .left {
    height: 72vh;
    flex: 40%;
  }

  .right {
    flex: 80%;
    margin-top: 14vh;
    height: 72vh;
  }

  /*HBO Go project page */


  .hbo_interviews img {
    width: 75%;
    height: auto;
  }

  .hbo_interviews div {
    text-align: center;
  }

  .personas {
    display: inline-block;
    text-align: center;
  }

  .chad {
    width: 75%;
    height: auto;
  }

  .angelica {
    width: 75%;
    height: auto;
  }

  .joe {
    width: 75%;
    height: auto;
  }


}